*#itscharlibaby {
  background-color: hsl(330, 100%, 71%); 
}

#description{ 
  display: block;
}

#lyrics{ 
  display: none;
}

.headerfooter {
  color: #FFFFFF;
}

.blocks {
  background-color: hsla(210, 100%, 50%, 1);
  width: 40vw;
  height: 10vh;
  border: 15px solid white;
  padding: 10px;
  margin: 20px;
}

#itscharlibaby {
  background-color: pink;
  width: 8in;
  height: 10cm;
  border: 15% solid white;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  margin-top: 50px;
  margin-bottom: 80px;
  margin-right: 30px;
  margin-left: 80px;
}

#made-via {
  text-align: center;
  border-style: dotted;
  border-color: rgba(50, 100, 150, 1);
  border-width: medium;
  border-radius: 15px;
}

h1 {
  text-align: center;
  text-decoration: underline;
  color: rgb(50, 100, 150); /* Set paragraph alignment and color */
}

a:hover {
  color: pink;
}

a:active {
  color: blue;
}

th[scope] {
  background-color: pink;
}

table {
  min-width: 20%;
  max-width: 80%;
}

header {
  position: sticky;
}

div {
  position: static; 
}
