@font-face {
  font-family: patrick;
  src: url(PatrickHand-Regular.ttf);
}

@media only screen and (max-width: 10px) {
  body {
    background-color: aquamarine;
  }
}

aside {
  float: right;
}

*#itscharlibaby {
  background-color: hsl(330, 100%, 71%); 
}

.headerfooter {
  color: #FFFFFF;
}

.blocks {
  display: inline-block;
  background-color: hsla(210, 100%, 50%, 1);
  width: 80vw;
  height: auto;
  border: 15px solid white;
  padding: 10px;
  margin: 20px;
}

#itscharlibaby {
  display: inline-block;
  background-color: pink;
  border: 15% solid white;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  margin-top: 50px;
  margin-bottom: 80px;
  margin-right: 30px;
  margin-left: 80px;
}

#made-via {
  text-align: center;
  border-style: dotted;
  border-color: rgba(50, 100, 150, 1);
  border-width: medium;
  border-radius: 15px;
}

#profile-pic {
  margin-left: auto;
  margin-right: auto;
  height: 5vh;
  width: 30%;
}

#selfdescription{ 
  display: block;
}

#flexbox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

h1 {
  font-size: 1in;
  text-align: center;
  text-decoration: underline;
  color: rgb(50, 100, 150); /* Set paragraph alignment and color */
}

p {
  font-size: 0.6cm;
}

h1, h2, h3, p, label {
  font-family: patrick;
}

a:hover {
  color: pink;
}

a:active {
  color: blue;
}

th[scope] {
  background-color: pink;
}

table {
  min-width: 20%;
  max-width: 80%;
}

header {
  position: sticky;
}

div {
  position: static; 
}

div p {
  color: white;
}

ul > li {
  color: white;
}

section + h2 {
  color: white;  
}

p ~ ul {
  background: #ffffff;
  color: black;
}
